.markdown {
    background-color: white;
    padding: 10px;
}

.markdown > h1, 
.markdown > h2, 
.markdown > h3, 
.markdown > h4, 
.markdown > h5, 
.markdown > h6 {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    color: #373D49;
}

.markdown > h1 {
    line-height: 3rem;
    font-size: 2rem;
    margin-bottom: .22rem;
    padding-top: .78rem;
    
}

.markdown > h2 {
    line-height: 3rem;
    font-size: 1.95rem;
    margin-bottom: .18rem;
    padding-top: .82rem;
}

.markdown > h5 {
    line-height: 2rem;
    font-size: 1.25rem;
    margin-bottom: -.5rem;
    padding-top: .56rem;
}

.markdown > blockquote {
    margin: 0;
    line-height: 2rem;
    font-weight: 400;
    font-size: 1rem;
}

.markdown > blockquote > p {
    font-size: 1rem;
    margin-bottom: .34rem;
    margin-top: 0;
    font-style: italic;
    font-family: Georgia,Cambria,serif;
    padding: .66rem 1rem 1rem;
    border-left: 3px solid #A0AABF;
    color: #373D49;
}

.markdown > p {
    margin-bottom: .34rem;
    padding-bottom: .34rem;
    margin-top: 0;
    font-weight: 400;
    font-size: 1rem;
    font-family: Georgia;
    color: #373D49;
    line-height: 2rem;
}

.markdown > table {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: 400;
    font-size: 1rem;
    font-family: Georgia,Cambria,serif;
    color: #373D49;
}

.markdown > table > tbody > tr:nth-child(odd) > td, .markdown > table > tbody > tr:nth-child(odd) > th
{
    background-color: #f9f9f9;
}

.markdown > table > tbody > tr > th,
.markdown > table > tbody > tr > td,
.markdown > table > thead > tr > th,
.markdown > table > thead > tr > td,
.markdown > table > tfoot > tr > th,
.markdown > table > tfoot > tr > td
{
    border: 1px solid #ddd;
}

.markdown > table > thead > tr > th,
.markdown > table > tbody > tr > td {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
}
