<div class="root-content">
    <div class="side-panel">
        <img class="img-logo" src="../assets/img/exceedra_graph.png">
        <ul class="sidenav">
            <li><a routerLink="/checkbox">Checkbox</a></li>
            <li><a routerLink="/textboxbasic">Textbox Basic</a></li>
            <li><a routerLink="/textboxmask">Textbox Mask</a></li>
            <li><a routerLink="/textboxnumeric">Textbox Numeric</a></li>
            <li><a routerLink="/datepicker">Datepicker</a></li>
            <li><a routerLink="/label">Label</a></li>
            <li><a routerLink="/msdropdown">Multiselect Dropdown</a></li>
            <li><a routerLink="/ssdropdown">Singleselect Dropdown</a></li>
        </ul>
    </div>
    <div class="fill-area panel-one flexbox-item-grow">
        <router-outlet></router-outlet>
    </div>
</div>